@{
    ViewData["Title"] = "Lists";
}

<div class="text-center">
    <h1 class="display-4">Lists</h1>
    <p>Currated lists based on your interests.</p>

    <div class="mb-4">
        <h3>RomCom</h3>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/images/10things.jpg" class="card-img-top" alt="10 Things I Hate About You poster">
                    <div class="card-body">
                        <h5 class="card-title">10 Things I Hate About You (1999)</h5>
                        <p class="card-text">How do I loathe thee? Let me count the ways.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/images/how2.jpg" class="card-img-top" alt="How To Lose A Guy In 10 Days poster">
                    <div class="card-body">
                        <h5 class="card-title">How To Lose A Guy In 10 Days (2003)</h5>
                        <p class="card-text">One of them is lying. So is the other.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h3>Horror</h3>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/images/fdb.jpg" class="card-img-top" alt="Final Destination Bloodlines poster">
                    <div class="card-body">
                        <h5 class="card-title">Final Destination Bloodlines (2025)</h5>
                        <p class="card-text">Death runs in the family.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/images/28yl.jpg" class="card-img-top" alt="28 Years Later poster">
                    <div class="card-body">
                        <h5 class="card-title">28 Years Later (2025)</h5>
                        <p class="card-text">Sequel to 28 Days Later and 28 Weeks Later. Plot details are under wraps.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>