@{
    ViewData["Title"] = "Popular Picks";
}

<div class="text-center">
    <h1 class="display-4">Recently Seen</h1>
    <p>See what's trending right now'.</p>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <!-- Movie Card Example -->
    <div class="col">
        <div class="card h-100">
            <img src="~/images/kpopdemonhunters.jpeg" class="card-img-top img-fluid" alt="Kpop Demon Hunters poster" style="height:400px; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title text-primary">Kpop Demon Hunters (2025)</h5>
                <p class="card-text">A K-pop group secretly fights demons between gigs.</p>
            </div>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/AzCAwdp1uIQ" title="Kpop Demon Hunters trailer" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/28yl.jpg" class="card-img-top img-fluid" alt="28 Years Later poster" style="height:400px; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title text-primary">28 Years Later (2025)</h5>
                <p class="card-text">Sequel to 28 Days Later and 28 Weeks Later. Plot details are under wraps.</p>
            </div>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/IYGG55qwQZQ" title="28 Years Later trailer" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/fdb.jpg" class="card-img-top img-fluid" alt="Final Destination 5 poster" style="height:400px; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title text-primary">Final Destination Bloodlines (2025)</h5>
                <p class="card-text">Death runs in the family.</p>
            </div>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/UWMzKXsY9A4" title="Final Destination: Bloodlines trailer" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/sinners.jpg" class="card-img-top img-fluid" alt="Sinners poster" style="height:400px; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title text-primary">Sinners (2024)</h5>
                <p class="card-text">A group of friends faces the consequences of their sins in unexpected ways.</p>
            </div>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/bKGxHflevuk" title="Sinners trailer" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
