@{
    ViewData["Title"] = "Recently Seen";
}

<div class="text-center">
    <h1 class="display-4">Recently Seen</h1>
    <p>Track what you’ve watched. Share what you love.</p>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/images/fdb.jpg" class="card-img-top img-fluid" alt="Final Destination 5 poster" style="height:400px; object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">Final Destination Bloodlines</h5>
                    <p class="card-text">Death runs in the family.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/images/kpopdemonhunters.jpeg" class="card-img-top img-fluid" alt="Kpop Demon Hunters poster" style="height:400px; object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">Kpop Demon Hunters (2025)</h5>
                    <p class="card-text">A K-pop group secretly fights demons between gigs.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/images/twilight.jpg" class="card-img-top img-fluid" alt="Twilight poster" style="height:400px; object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">Twilight (2008)</h5>
                    <p class="card-text">When you can live forever, what do you live for?</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/images/bridgetjones.jpg" class="card-img-top img-fluid" alt="Bridget Jones's Diary poster" style="height:400px; object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">Bridget Jones's Diary (2001)</h5>
                    <p class="card-text">It's Monday morning, Bridget has woken up with a headache, a hangover and her boss.</p>
                </div>
            </div>
        </div>

</div>
